/* Icon to start search */

.filter {
	position: absolute;
	right: 2rem;
	top: 2rem;
	height: 2rem;
	width: 2rem;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

.filter img {
	max-width: 100%;
	max-height: 100%;
	display: block;
	pointer-events: none;
	transition: filter 200ms;
}

.filter::before {
	content: "Search";
	position: absolute;
	transform: translate(-100%);
	opacity: 0%;
	color: #045d83;
	pointer-events: none;
	transition: opacity 200ms, color 200ms;
}

.filter.isFiltering::before {
	color: darkgreen;
}

.filter:hover img {
	filter: brightness(70%);
}
.filter:hover::before {
	opacity: 100%;
}

/* Search bar for filtering */

.searchBarContainer {
	position: relative;
}

.loading {
	position: absolute;
	right: 6px;
	top: 9px;
	z-index: 10;
	width: 20px;
	height: 20px;
}

.search {
	text-align: center;
	border: 1px solid #00abf4 !important;
	caret-color: auto;
	min-width: 400px;
	position: relative;
}

.search:focus {
	box-shadow: lightgreen 0px 0px 0px 4px;
}

/* Results */

.results {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	border: #00abf4 solid 1px;
	justify-content: flex-start;
	padding: 1rem;
	padding: 0;
	height: 30rem;
	position: relative;
	padding-top: 2.3rem;
	width: 1200px;
}

.results > span {
	margin: auto;
}

.result {
	border: lightgrey 1px solid;
	display: flex;
	padding: 0.2rem;
	cursor: pointer;
	transition: background-color 200ms;
	color: white;
	background-color: #0b5ed7;
	max-height: 40px;
}
.resultHeader {
	position: absolute;
	top: 0;
	width: 100%;
	background-color: black;
}

.result > div {
	margin: 2px 5px 2px 5px;
	padding-left: 5px;
	padding-right: 5px;
	border-right: 1px white solid;
}
.result > div:nth-child(1) {
	width: 60px;
}
.result > div:nth-child(2) {
	width: 250px;
}
.result > div:nth-child(3) {
	width: 60px;
}

.result > div:nth-child(4) {
	width: 70px;
}

.result > div:nth-child(5) {
	border-right: 0;
	flex-grow: 1;
	max-width: 700px;
	overflow: hidden;
	text-align: center;
}

.imgContainer {
	max-height: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0;
	margin: 0;
}
.imgContainer > img {
	max-width: 100%;
	max-height: 100%;
	display: block;
}

.result:hover {
	background-color: #1b4e99;
}
.resultHeader:hover {
	background-color: rgba(0, 0, 0, 0.893);
}

/* Dropdown categorías */

.dropdown > * {
	width: 100%;
}
.dropdown > *::after {
	position: absolute;
	left: 10px;
	top: 50%;
	transform: translateY(-50%);
}

.dropdown > div {
	max-height: 300px;
	overflow-x: hidden;
	overflow-y: scroll;
}
